#include CONTRIBUTING.rst
#include HISTORY.rst
include LICENSE
include README.rst

graft test
#prune Replidec/__pycache__
recursive-exclude Replidec *.py[co]
prune Replidec/db



#recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
